{% extends "index.html.twig" %}

{% block content %}
    <div class="container my-container">
        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <table class="filters-block table table-bordered table-condensed">
                    <caption>
                        <span>
                            <i class="fa fa-filter"></i>
                        </span>
                        <span class="filters-container">
                            <span class="btn btn-xs btn-link">Subaru<i class="close">x</i></span>
                            <span class="btn btn-xs btn-link">Impreza<i class="close">x</i></span>
                            <span class="btn btn-xs btn-link">2007<i class="close">x</i></span>
                            <span class="btn btn-xs btn-link">Opel<i class="close">x</i></span>
                        </span>
                    </caption>
                    <tbody>
                        <tr>
                            <td>Make</td>
                            <td>Model</td>
                            <td>Mark</td>
                            <td>Fuel type</td>
                            <td>Transmission</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}